 @charset "UTF-8";
  
 @media screen and ( max-width:900px){


   body{
     display: flex;
     flex-direction: column;
     gap: 200px;
     text-align: center;
}  

  header{
    display: flex;
    justify-content: center;
}

 header ul {
  gap: 30px;
}
    main{
     display: flex;
     flex-direction: column;
    }

    .primeira-parte h1{
        font-size: 4em;
        font-weight: 600;
      }

    
 }