 @charset "UTF-8";

  *{
 margin: 0%;
 padding: 0%;}

  header {
   background-color: black;
   width: 100vw;
   height: 80vh;
   background-image: url('../imagens/shutterstock_759524899.webp');
   background-size: cover;
   opacity: 80%;
   background-position: center center;
    
    

   }
    nav a {
      font-size: 35px;
      text-decoration: none;
      padding: 30px 25px;
      font-weight: 700;}

      #links{
      display: flex;
      justify-content: flex-end;
      justify-content: space-around ;
      
      }
       
       
     
  
       

    
   
   


