@charset "UTF-8";

:root {
 --cor-container: #180c23;
 --cor-fundo: #00ff87;
--cor-letra:  #8af0ec;}

*{
padding: 0;
margin: 0 ;
box-sizing: border-box;
overflow: hidden;}

section{
    display: flex;
    justify-content: center;
    margin-top: 60px;
 }

body{
 background-color: var(--cor-fundo);}


 .container{
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-container);
    width: 1050px;
    height: 600px;
    border-radius: 30px;
    
 }

  .primeira-parte , a{
   display: flex;
   flex-direction:column;
   justify-content: center;
   color: white;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   
   }

   .primeira-parte h1{
    color: var(--cor-fundo);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;}



    input { 
     margin: 10px;
     font-family: Arial, Helvetica, sans-serif;
      background-color: rgba(152, 142, 142, 0.375);
      color: rgb(25, 250, 21);
      font-size: 20px;
      border-radius: 10px;
      padding: 17px 100px 17px 20px;
    }

    button{
     color: var(--cor-container);
     font-size: 18px;
     font-weight: 800;
     background-color: var(--cor-fundo);
     padding: 10px;
     border-radius: 15px;}


   .segunda-parte{
    color: var(--cor-fundo);
    text-align: justify;
    font-size: 1.5em;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    }
  a{
     margin-bottom: 12px;}

  p > a:hover{
    text-decoration: 1px underline solid ;
    color: var(--cor-letra);
 }
  img{
  width: 350px;}