@charset "utf-8";

@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@100;200;300;400;500;600;700;800;900 & display=swap');
  
 :root{
    --font-principal:'Poppins', sans-serif;
    --cor-fundo:rgb(226,239,255);
    --cor-texto-nav: rgb(86,90,183);
    --cor-padrao: #fff;
    --cor-texto-h1: rgb(255,116,104);

  }
  body{
  background-color: rgb(226,239,255);}

  main , header{
  font-family: var(--font-principal);
  margin: auto;
  width: 88vw ;
  display: flex;
 }

 header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--cor-texto-nav);}

  ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  text-transform: uppercase;
 }
 a{
  text-decoration: none;
   color: var(--cor-texto-nav);}
 

 .navegation-btn{
  background-color: var(--cor-texto-nav);
 color: var(--cor-padrao) ;
 text-transform: initial;
 padding: 10px ;
 border-radius: 7px;
}

main

 h2{
   max-width: 450px;
  font-size: 3.3em;
  text-transform: uppercase;}
  
  #title-marketing{
   color: var(--cor-texto-h1);}


   .imagem> img{
   max-width: 800px;
   transform: scale(.9);}

   p{
    font-size: 1.1em;
}

 input{

  padding-right:81px;
  padding: 15px 81px 15px 15px;
}
  button{
       padding: 15px;
      margin-left: -5px;}
 input ,button{
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.148);
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.114);
  font-weight: 600;
}

 #login{
  color:  var(--cor-padrao);
 background-color: var(--cor-texto-nav);}






