<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>

    <header> 
        <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Suporte</a></li>
                  <li><a href="#">Contato</a></li>
                  <li><a href="#">Curiosidades</a></li>
        </ul>
      
    </header>
<main>
    
        <section id="quem-somos">
    
            <article>
                <h1>Quem nós <br> somos</h1>
                <p>O que começou como uma oportunidade de trazer o esporte imensamente popular de squash para as massas de Nova York evoluiu e se expandiu para uma rede de mais de 150 clubes atendendo a mais de meio milhão de membros em oito estados e dois países (incluindo a Suíça!).</p>
            </article>
    
            <aside id= "bottom-junte-se-hoje">
                <a target="_blank" href="../../../Flex-box/html/index.html">Junte-Se Hoje</a>
            
            </aside>
        </section>
    
        <section id="foto-da-mulher">
    
            <img src="../imagem/jovem-mulher-bebendo-agua-removebg-preview.png" alt="">
    
            <div></div>
    
        </section>
    
</main>


  
</body>
</html>